// Place all the styles related to the logapplies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-log{
  margin-left: 60px;
  width: 150px;
  // background: chartreuse;
  // width: 100%;

}

.th-log{
  // text-align: center;
  // width: 200px;
  // width: 40%;
 }
.td-log{
  // width: 40%;
  // margin-left: 10px;
  // padding-left: 10px;
  // width: 100px;
  // background: chocolate;
  // text-align: center;
 }

.log-reset{
  margin-left: 60px;
}

.log_th{
  text-align: center;
}
.log_td{
  text-align: center; 
}
